@import url("file:///home/arch/.cache/wal/colors.css");

@font-face {
  font-family: terminus;
  src: url(terminus.ttf);
}
:root {
  scrollbar-face-color: rgb(177, 12, 12);
  scrollbar-track-color: rgb(207, 17, 17);
  scrollbar-width: auto / thin / 20px;
}
:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  background-color: unset !important;
  border: unset !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
}

#nav-bar-customization-target {
  background-color: var(--color0) !important;
}
#urlbar-container {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}
#urlbar {
  color: var(--color1) !important;
  border-color: var(--color1) !important;
  background-color: var(--color0) !important;
}
.tab-content {
  background-color: var(--color0) !important;
}
.tabs-newtab-button {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}
.tab-text {
  color: var(--color1) !important;
}
.tab-close-button {
  color: var(--color1) !important;
}
.arrowscrollbox-scrollbox {
  background-color: var(--color0) !important;
}
#back-button {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

#forward-button {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

#reload-button {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

.close-icon {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}
#close-button {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

#restore-button {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}
#minimize-button {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

.scrollbutton-up {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

#PanelUI-menu-button {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}
#PanelUI-button {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

#PersonalToolbar {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

#PlacesToolbar {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

.bookmark-item {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

.findbar-container {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}

.findbar-find-next {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}
.findbar-find-previous {
  color: var(--color1) !important;
  background-color: var(--color0) !important;
}
